{% extends 'ns_base.html' %}

{% block content %} <!-- 替换页面内容 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">记录管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">导航记录</li>
            <li class="breadcrumb-item"><a href="#">{{ nickname }}({{num}})</a></li>
        </ol>
    </nav>

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">用户id</th>
            <th scope="col">创建时间</th>

            <th scope="col">地址</th>
            <th scope="col">经纬度</th>
            <th scope="col">城市</th>
            <th scope="col">     </th>
        </tr>
        </thead>
        <tbody>
        {% for navigation in navigations %}
            <tr>

                <td><a>{{ navigation.wxuser_id }}</a></td>
                <td>{{ navigation.search_time }}</td>
                <td>{{ navigation.address }}</td>
                <td>（{{ navigation.longitude }}，{{ navigation.latitude }}）</td>
                <td>{{ navigation.city }}</td>
            <form action="{{url_for('wxuser_search_del')}}" method="post">
            <input type="hidden" name="search_id" value="{{ navigation.id }}">

            <td>
                <button class="btn btn-secondary btn-sm">删除</button></td>

        </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}